
version: "3"

services:
    php-sample-app:
        image: nginx:1.27.0-perl
        volumes:
            - ./app:/var/www/html
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        ports:
            # http://localhost:8080/
            - "8080:80"
        depends_on:
            - php-sample-php
    php-sample-php:
        image: php:8.2.20-fpm
        volumes:
            - ./app:/var/www/html
